/* Common for both Login and Signup pages */
* {
  padding: 5px;
  margin: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #E5F2F3;
}

.block, .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 500px;
  margin: auto;
  padding: 10px;
  background-color: #d2eef0;
  border-radius: 20px;
  border: 2px solid black;
  text-align: center;
}

.list {
  list-style: none; 
}
  
input {
  width: 300px;
  height: 30px;
  border: 2px solid black;
  border-radius: 15px;
}

.signup {
  background-color: #7E8BFF;
  border: none;
  width: 90px;
  padding: 10px;
  margin: 10px;
  border-radius: 19px;
  font-size: medium;
  cursor: pointer;
}

.login {
  background-color: #7E8BFF;
  border: none;
  width: 90px;
  padding: 10px;
  margin: 10px;
  border-radius: 19px;
  font-size: medium;ww
  cursor: pointer;
}

.buttongroup {
  width: 133px;
  padding: 10px 30px;
  margin: 10px;
  background-color: #7E8BFF;
  border: none;
  border-radius: 19px;
  font-size: medium;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.h2, .list{
  margin: 10px;
  padding: 10px;
}